// myFamily styles

// herencia!!
// .base-class{
// }
// .ejemplo-1{
//  .base-class;
// }
// .ejemplo-2{
//  .base-class;
// }

.my-family-title {
  max-width: 458px;
  height: 66px;
  font-family: Montserrat;
  font-size: 54px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: -0.3px;
  text-align: center;
  color: #37a567;
}

.my-family-col-box {
  margin-top: 60px;
  text-align: -webkit-center
}

.my-family-profile-box {
  min-width: 288px;
  max-width: 400px;
  height: 220px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #ffffff, #ffe6cf);
}

.my-family-profile-title {
  min-width: 288px;
  max-width: 400px;
  height: 36px;
  background-color: #ff9331;
}

.my-family-member-box {
  min-width: 288px;
  max-width: 400px;
  height: 220px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  background-image: linear-gradient(to bottom, #ffffff, #d1eadc);
}

.my-family-member-title {
  min-width: 288px;
  max-width: 400px;
  height: 36px;
  background-color: #37a567;
}


.my-family-guest-box {
  min-width: 288px;
  max-width: 400px;

  height: 220px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.16);
  background-color: #f2f2f2;
}

.my-family-guest-title {
  min-width: 288px;
  max-width: 400px;
  height: 36px;
  background-color: #646464;
}

.my-family-add-box {
  min-width: 288px;
  max-width: 400px;
  height: 220px;
  border: solid 1px #cacaca;
  background-color: #ffffff;
}

.my-family-add-title {
  min-width: 288px;
  max-width: 400px;
  height: 36px;
  background-color: #cacaca;
}

.my-family-my-Hub {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-align: left;
  color: #979797;
}

.my-family-box-title-left {
  height: 19px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.81;
  letter-spacing: -0.1px;
  text-align: left;
  color: #ffffff;
}

.my-family-box-title-right {
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 2.07;
  letter-spacing: -0.1px;
  text-align: right;
  color: #ffffff;
}

.my-family-box-member-name {
  width: 245px;
  height: 59px;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-align: center;
  margin-top: 15%;
  color: #373737;
}

.my-family-box-member-email {
  width: 162px;
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #373737;
  overflow-wrap: break-word;
}



.my-family-button-profile {
  width: 147.6px;
  height: 50px;
  border-radius: 30px;
  border: solid 2px #ff9331;
  background-color: #ffffff;
}

.my-family-button-member {
  width: 147.6px;
  height: 50px;
  border-radius: 30px;
  border: solid 2px #37a567;
  background-color: #ffffff;
}

.my-family-button-guest {
  width: 147.6px;
  height: 50px;
  border-radius: 30px;
  border: solid 2px #979797;
  background-color: #ffffff;
}

.my-family-button-add {
  width: 216.7px;
  height: 50px;
  border-radius: 30px;
  border: solid 2px #cacaca;
  text-align: center;
  vertical-align: middle;

}

.my-family-box-add-button-lbl {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  color: #cacaca;
}

.my-family-box-profile-button-lbl {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  color: #ff9331;
}

.my-family-box-member-button-lbl {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  color: #37a567;
}

.my-family-box-guest-button-lbl {
  font-family: Montserrat;
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.22;
  letter-spacing: normal;
  min-height: 50px;
  display: inline-flex;
  align-items: center;
  color: #646464;
}


.pending-invitation {
  width: 166px;
  height: 18px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.71;
  letter-spacing: normal;
  text-align: center;
  color: #e74c3c;
}


// Modal styles

.modal .modal-content {
  padding: 5px;
}

.modal {
  background-color:
    rgba(155, 155, 155, 0.1);
  max-height: 100% !important;
  width: 100% !important;
}

.dark-modal .modal-content {
  background-color: #292b2c;
  color: white;
}

.dark-modal .close {
  color: white;
}

.light-blue-backdrop {
  background-color: #5cb3fd;
}

// toggle
.mat-slide-toggle-bar {
  background-color: #37a567;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
  background-color: #37a567;
}


// toggle

.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
  background-color: #ffffff;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: #49c5b6;
}

/deep/ .mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: #49c5b6;
}

.myfamily-add-member-title {
  width: 307px;
  height: 29px;
  font-family: Montserrat;
  font-size: 24px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.21;
  letter-spacing: normal;
  text-align: center;
  color: #37a567;
}
