// Variables
@background: #f2f2f2;
@text: gray;

@menubackground: white;
@menutext: gray;


@menusidebarbackground: #646464;
@menusidebartext: white;



@border: #37a567;

@inputbackground:#ffffff;
@inputtext: rgb(165, 80, 0);

@buttonbackground:   #37a567;
@buttontext: #ffffff;
 
@linktext:  #37a567;

