<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="text-center title mb-0">{{'onboarding_complete.title' | translate}}</h1>
    <h5 class="text-center subtitle mt-0 mb-4">
      {{'onboarding_complete.subtitle' | translate}}<br />
      <span>
        {{'onboarding_complete.reminder' | translate}}
      </span>
    </h5>
  </div>
</div>

<!-- Stepper -->
<div class="row justify-content-md-center">
  <div class="steps-form">
    <div class="steps-row setup-panel">
      <div class="steps-step">
        <button class="btn-step" disabled> <i class="material-icons">check</i> </button>
      </div>
      <div class="steps-step">
        <button class="btn-step" disabled> <i class="material-icons">check</i> </button>
      </div>
      <div class="steps-step">
        <button class="btn-step" disabled> <i class="material-icons">check</i> </button>
      </div>
      <div class="steps-step">
        <button class="btn-step"> <i class="material-icons">flag</i></button>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-8 mt-2 mx-auto">
    <p class="description-one">{{'onboarding_complete.complete' | translate}}</p>
    <p class="description-two mb-3">
      <strong>{{'onboarding_complete.do_next' | translate}}</strong>
    </p>
  </div>
</div>

<div class="card-deck" *ngIf="memberTypeId === 1">
  <div class="card text-center pointer" (click)="goToDashboard('../account')">
    <div class="card-body">
      <i class="material-icons icon">developer_board</i>
      <p class="card-text">{{'onboarding_complete.my_dashboard' | translate}}</p>
    </div>
  </div>
  <div class="card text-center pointer" (click)="goToDashboard('../account/family')">
    <div class="card-body">
      <i class="material-icons icon">account_circle</i>
      <p class="card-text">{{'onboarding_complete.invite_members' | translate}}</p>
    </div>
  </div>
  <div class="card text-center pointer" (click)="goToDashboard('../membership-card')">
    <div class="card-body">
      <i class="material-icons icon">credit_card</i>
      <p class="card-text">{{'onboarding_complete.membership_card' | translate}}</p>
    </div>
  </div>
</div>

<div class="row" *ngIf="memberTypeId !== 1">
  <div class="col-md-4 offset-md-4">
    <div class="card text-center pointer" (click)="goToDashboard('../account')">
      <div class="card-body">
        <i class="material-icons icon">developer_board</i>
        <p class="card-text">{{'onboarding_complete.my_dashboard' | translate}}</p>
      </div>
    </div>
  </div>
</div>