<ul class="list-group d-none d-lg-block">
  <li class="list-group-item active">My Profile</li>
  <li class="list-group-item">My Addresses</li>
  <!--<li class="list-group-item">My Physician</li>
  <li class="list-group-item">My Pharmacy</li>-->
  <li class="list-group-item">My Security</li>
  <li class="list-group-item">Payment Method</li>
  <li class="list-group-item">Preferences</li>
</ul>
<div class="row d-lg-none">
  <div class="col-md-12">
    <div class="form-group">
      <select class="form-control">
        <option value="">My Profile</option>
        <option value="">My Addresses</option>
        <!--<option value="">My Physician</option>
        <option value="">My Pharmacy</option>-->
        <option value="">My Security</option>
        <option value="">Payment Method</option>
        <option value="">Preferences</option>
      </select>
    </div>
  </div>
</div>