<div class="row">
  <div class="col-md-12 text-center">
    <h1 class="text-center title mb-0">Onboarding Interview</h1>
    <h5 class="text-center subtitle mt-0 mb-4">We need to know a little bit more about your medical history.<br> 
    <span> Remember, you can change your answers anytime from the dashboard. </span></h5>
  </div>
</div>


<!-- Stepper -->
<div class="row justify-content-md-center">
  <div class="steps-form">
    <div class="steps-row setup-panel">
      <div class="steps-step">
        <button class="btn btn-secondary btn-round" disabled> <i class="material-icons">check_circle</i> </button>
      </div>
      <div class="steps-step">
        <button class="btn btn-secondary btn-round">2</button>
      </div>
      <div class="steps-step">
        <button class="btn btn-secondary btn-round" disabled>3</button>
      </div>
      <div class="steps-step">
        <button class="btn btn-secondary btn-round" disabled> <i class="material-icons">flag</i></button>
      </div>
    </div>
  </div>
</div>

<div class="row text-center">
  <div class="col-lg-8 mt-2 mx-auto">
    <label class="header">Allergic To Any Medications?</label>
    <mat-radio-group [(ngModel)]="haveAllergies" (ngModelChange)="onChangeAllergies($event)">
      <div class="row">
        <div class="col-md-6 mb-3">
          <mat-radio-button class="radio-form" [value]="true"> <h5 class="radio-text">YES</h5> </mat-radio-button>
        </div>
        <div class="col-md-6">
          <mat-radio-button class="radio-form" [value]="false"> <h5 class="radio-text">NO</h5> </mat-radio-button>
        </div>
      </div>
    </mat-radio-group>

    <div class="row" *ngIf="haveAllergies">
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-select placeholder="Allergies" multiple [(ngModel)]="selectedAllegies" [compareWith]="compareWithFunc">
            <mat-option *ngFor="let allergie of allergies" [value]="allergie">{{allergie.display_value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <label class="header">Have Any Health Conditions?</label>
    <mat-radio-group [(ngModel)]="haveConditions">
      <div class="row">
        <div class="col-md-6 mb-3">
          <mat-radio-button class="radio-form" [value]="true"> <h5 class="radio-text">YES</h5> </mat-radio-button>
        </div>
        <div class="col-md-6">
          <mat-radio-button class="radio-form" [value]="false"> <h5 class="radio-text">NO</h5> </mat-radio-button>
        </div>
      </div>
    </mat-radio-group>

    <div class="row" *ngIf="haveConditions">
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-select placeholder="Conditions" multiple [(ngModel)]="selectedConditions" [compareWith]="compareWithFunc">
            <mat-option *ngFor="let condition of conditions" [value]="condition">{{condition.display_value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

    <label class="header">Currently Taking Any Substance Such As Medications, Supplements and/or Over-the-counter Products?</label>
    <mat-radio-group [(ngModel)]="takingMedications">
      <div class="row">
        <div class="col-md-6 mb-3">
          <mat-radio-button class="radio-form" [value]="true"> <h5 class="radio-text">YES</h5> </mat-radio-button>
        </div>
        <div class="col-md-6">
          <mat-radio-button class="radio-form" [value]="false"> <h5 class="radio-text">NO</h5> </mat-radio-button>
        </div>
      </div>
    </mat-radio-group>

    <div class="row" *ngIf="takingMedications">
      <div class="col-md-12">
        <mat-form-field class="w-100">
          <mat-select placeholder="Medications and Supplements" multiple [(ngModel)]="selectedMedications" [compareWith]="compareWithFunc">
            <mat-option *ngFor="let medication of medications" [value]="medication">{{medication.display_value}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
    </div>

  </div>
</div>

<div class="row justify-content-md-center">
  <div class="col-lg-8">
    <button class="btn btn-secondary btn-round btn-lg" type="button">Back</button>
    <button class="btn btn-secondary btn-round btn-lg float-right" type="button">Next</button>
  </div>
</div>