@import '../variables.less';



.my-hub-title {
  .title;
  color: @green;
}




// cards
.my-hub-card {
  max-width: 394px;
  min-height: 220px;
}

.my-hub-col-box {
  margin-top: 60px;
  text-align: -webkit-center
}

.hub-card-body {
  min-height: 180px;
}

.hub-card-title {
  max-height: 66px;
  vertical-align: middle;
  background-color: @green;
}

// box tittles



.my-hub-box-title {
  font-size: 24px;
  font-weight: 600;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #ffffff;
}
