<h3 class="mb-3">Onboarding - Step 4 of 6</h3>
<p>Tell us about your medications and supplements, including over-the-counter products and supplements you are currently taking:</p>

<div class="row mt-2">
  
  <div class="col-lg-12 col-md-6 mt-2">
    <mat-radio-group [(ngModel)]="consumingMedication">
      <div class="form-group" *ngFor="let option of options">
        <mat-radio-button [value]="option.value" (change)="radioChanged($event)"> <small class="wrap-mat-radio-label"> {{option.description}} </small> </mat-radio-button>
      </div>
    </mat-radio-group>
  </div>

  <!--<p>selected: {{consumingMedication}}</p>-->

  <div class="col-lg-6" *ngIf="consumingMedication === 'yes'">
    <p>Medications and Supplements</p>
    <!--<mat-form-field class="w-100">
      <mat-select placeholder="Allergies" multiple [(value)]="uncommonAllergies" >
        <mat-option *ngFor="let allergie of allergies.uncommon_allergies" [value]="allergie">{{allergie.display_value}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>-->
    <mat-form-field class="w-100">
      <mat-select placeholder="Medications and Supplements" multiple [(ngModel)]="myMedicationSupplements" [compareWith]="compareWithFunc">
        <mat-option *ngFor="let medSup of medications" [value]="medSup">{{medSup.display_value}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

</div>



<div class="row float-right mb-5">
  <div class="col-md-12">
    <button class="btn btn-primary mr-3" type="button" (click)="userAction('back');">Back</button>
    <button class="btn btn-primary" type="button" (click)="nextStep();">Next</button> <!-- [disabled]="!signupForm.valid" -->
  </div>
</div>
