<ul id="desktop_language_dd" class="dropdown-content">
  <li><a (click)="setLang('en')">English</a></li>
  <li><a (click)="setLang('es')">Español</a></li>
</ul>
<nav>
  <div class="nav-wrapper">
    <a class="brand-logo"><img src="assets/images/popupcare-logo.png" style="width: 200px"/></a>
    <a (click)="showSideNav()" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <!-- <li>
        <a class="dropdown-trigger" href="#!" data-target="desktop_language_dd"
          ><i class="material-icons left">language</i>{{ 'menu.language' | translate
          }}<i class="material-icons right">arrow_drop_down</i></a
        >
      </li> -->
      <!--Anonymous user-->
      <li *ngIf="!isUserAuthenticated">
        <a [routerLink]="[lang, '']"> <i class="material-icons left">card_membership</i>{{ 'menu.how_it_works' | translate }}</a>
      </li>
      <li *ngIf="!isUserAuthenticated">
        <a href="badges.html"><i class="material-icons left">card_membership</i>{{ 'menu.plans' | translate }}</a>
      </li>
      <li *ngIf="!isUserAuthenticated">
        <a href="collapsible.html"><i class="material-icons left">local_hospital</i>{{ 'menu.faq' | translate }}</a>
      </li>
      <li *ngIf="!isUserAuthenticated">
        <a [routerLink]="[lang, 'login']"><i class="material-icons left">perm_identity</i>{{ 'menu.signin' | translate }}</a>
      </li>
      <!--Anonymous user-->

      <!--Authenticated user-->
      <li *ngIf="isUserAuthenticated && member_type_id === 1">
        <a [routerLink]="[lang, '']">
          <i class="material-icons left">card_membership</i>{{ 'menu_authenticated.digital_care' | translate }}</a
        >
      </li>
      <li *ngIf="isUserAuthenticated && member_type_id === 1">
        <a [routerLink]="[lang, '']"> <i class="material-icons left">card_membership</i>{{ 'menu_authenticated.orders' | translate }}</a>
      </li>
      <li *ngIf="isUserAuthenticated && member_type_id === 1">
        <a [routerLink]="[lang, 'account']">
          <i class="material-icons left">card_membership</i>{{ 'menu_authenticated.myhub' | translate }}</a
        >
      </li>
      <li *ngIf="isUserAuthenticated">
        <a (click)="signout()"> <i class="material-icons left">card_membership</i>{{ 'menu_authenticated.signout' | translate }}</a>
      </li>

      <!--Authenticated user-->
    </ul>
    <a (click)="showSideNavRight()" data-target="right-sidevar" class="sidenav-trigger" style="float: right;">
      <i class="material-icons">menu</i>
    </a>
  </div>
</nav>

<ul id="mobile_language_dd" class="dropdown-content">
  <li><a (click)="setLang('en')">English</a></li>
  <li><a (click)="setLang('es')">Español</a></li>
</ul>

<ul class="sidenav" id="mobile-demo">
  <!-- <li>
    <a class="dropdown-trigger" href="#!" data-target="mobile_language_dd"
      ><i class="material-icons left">language</i>{{ 'menu.language' | translate }}<i class="material-icons right">arrow_drop_down</i></a
    >
  </li> -->

  <!--Anonymous user-->
  <li *ngIf="!isUserAuthenticated">
    <a [routerLink]="[lang, '']"> <i class="material-icons left">card_membership</i>{{ 'menu.how_it_works' | translate }}</a>
  </li>
  <li *ngIf="!isUserAuthenticated">
    <a href="badges.html"><i class="material-icons left">card_membership</i>{{ 'menu.plans' | translate }}</a>
  </li>
  <li *ngIf="!isUserAuthenticated">
    <a href="collapsible.html"><i class="material-icons left">local_hospital</i>{{ 'menu.faq' | translate }}</a>
  </li>
  <li *ngIf="!isUserAuthenticated">
    <a [routerLink]="[lang, 'login']"><i class="material-icons left">perm_identity</i>{{ 'menu.signin' | translate }}</a>
  </li>
  <!--Anonymous user-->

  <!--Authenticated user-->
  <li *ngIf="isUserAuthenticated && member_type_id === 1">
    <a [routerLink]="[lang, '']"> <i class="material-icons left">card_membership</i>{{ 'menu_authenticated.digital_care' | translate }}</a>
  </li>
  <li *ngIf="isUserAuthenticated && member_type_id === 1">
    <a [routerLink]="[lang, '']"> <i class="material-icons left">card_membership</i>{{ 'menu_authenticated.orders' | translate }}</a>
  </li>
  <li *ngIf="isUserAuthenticated && member_type_id === 1">
    <a [routerLink]="[lang, 'account']"> <i class="material-icons left">card_membership</i>{{ 'menu_authenticated.myhub' | translate }}</a>
  </li>
  <li *ngIf="isUserAuthenticated && member_type_id === 1">
    <a (click)="signout()"> <i class="material-icons left">card_membership</i>{{ 'menu_authenticated.signout' | translate }}</a>
  </li>

  <!--Authenticated user-->
</ul>

<ul class="sidenav" id="right-sidevar" *ngIf="isUserAuthenticated">
  <!--Authenticated user-->
  <li *ngIf="isUserAuthenticated && member_type_id === 1">
    <a [routerLink]="[lang, '']"> <i class="material-icons left">card_membership</i>{{ 'menu_authenticated.digital_care' | translate }}</a>
  </li>
  <li *ngIf="isUserAuthenticated && member_type_id === 1">
    <a [routerLink]="[lang, '']"> <i class="material-icons left">card_membership</i>{{ 'menu_authenticated.orders' | translate }}</a>
  </li>
  <li *ngIf="isUserAuthenticated && member_type_id === 1">
    <a [routerLink]="[lang, 'account']"> <i class="material-icons left">card_membership</i>{{ 'menu_authenticated.myhub' | translate }}</a>
  </li>
  <li *ngIf="isUserAuthenticated">
    <a (click)="signout()"> <i class="material-icons left">card_membership</i>{{ 'menu_authenticated.signout' | translate }}</a>
  </li>

  <!--Authenticated user-->
</ul>

<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    >
    <mat-toolbar color="primary">
      <button
      type="button"
      aria-label="Toggle sidenav"
      mat-icon-button
      (click)="drawer.toggle()">
      <mat-icon aria-label="Sidenav toggle icon">menu</mat-icon>
    </button>
    </mat-toolbar>
    <mat-nav-list class="mt-3">
      <a mat-list-item href="#">
        <span class="badge badge-pill badge-primary">Join Our Phamily</span>
      </a>
      <a mat-list-item href="#" class="sidenav-item">Profile</a>
      <a mat-list-item href="#" class="sidenav-item">Medications</a>
      <hr>
      <a mat-list-item href="#" class="sidenav-item">About Us</a>
      <a mat-list-item href="#" class="sidenav-item">FAQ</a>
      <a mat-list-item href="#" class="sidenav-item">Blog</a>
      <a mat-list-item href="#" class="sidenav-item">News</a>
      <hr>
      <a mat-list-item [routerLink]="['/login']">Already a member?  <span class="login-redirect">Login</span> </a>
      <a mat-list-item href="#" class="sidenav-item">Contact Us</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Sidenav toggle icon">menu</mat-icon>
      </button>
      <span>PopupCare</span>
      <span class="spacer"></span>
      <div class="d-none d-lg-block">
        <a mat-list-item>Chatbot</a>
        <a mat-list-item>Membership</a>
        <a mat-list-item>Medications</a>
        <a mat-list-item>Latest News</a>
        <a mat-list-item>About</a>
        <a mat-list-item [routerLink]="['/register']" routerLinkActive="active">Join Now</a>
        <a mat-list-item [routerLink]="['/login']" routerLinkActive="active">Already a member?  <span class="login-redirect">Login</span> </a>
      </div>
    </mat-toolbar>
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container> -->
