@import '../styles/variales.less';

.sidenav-container {
    height: 100%;
  }
  
  .mat-toolbar.mat-primary {
    background: @background !important;
  }
  .sidenav .mat-toolbar {
    background: @background !important;
    color: white;
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 1;
  }
  
  mat-toolbar a {
    display: inline-block;
    margin: 0 10px;
    color: white;
    text-decoration: none;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  /* Hide sidenav on bigger devices */
  @media (min-width: 768px) {
    .sidenav {
      width: 200px;
      box-shadow: 3px 0 6px rgba(0,0,0,.24);
      display: none;
    }
  }