
<h3 class="mb-3">Onboarding - Step 5 of 6</h3>
<p>Please choose a primary pharmacy to send your prescriptions to:</p>

<div class="row mb-3 mt-1">
  <div class="col-md-6">
    <label>Address or Zip Code</label>
    <input type="text" placeholder="Address or Zip Code" class="form-control"#address>
    <!--<div class="input-group">
      <input type="text" placeholder="Address or Zip Code" class="form-control"#address>
      <div class="input-group-append">
        <button class="btn btn-primary" type="button">Search</button>
      </div>
    </div>-->
  </div>
</div>

<div class="row">
  
  <div class="col-md-6">
    <ul class="list-group" *ngIf="pharmacies">
      <p> <small> <strong> {{pharmacies.length}} pharmacies founded. </strong> </small> </p>
      <li class="list-group-item" *ngFor="let pharmacy of pharmacies | slice:0:limitItems; let i = index;">
        <mat-radio-group [(ngModel)]="primaryPharmacyAddress">
          <div class="row">
            <div class="col-md-1">
              <mat-radio-button [value]="pharmacy" (change)="radioChanged($event)"></mat-radio-button>
            </div>
            <div class="col-md-8">
              <h6> <small> {{pharmacy.name}} </small> </h6>
              <!--<p> <small>3500 Ranch Road 620 South, Bee Cave, TX 78738</small> </p>-->
              <p> <small> {{pharmacy.address}}, {{pharmacy.city}}, {{pharmacy.state}} {{pharmacy.zipcode}} </small> </p>
            </div>
            <div class="col-md-3">
              <p> <small> {{pharmacy.miles_distance | number}} miles away </small> </p>
              <!-- <p> <small>1.2 miles away</small> </p> -->
            </div>
          </div>
        </mat-radio-group>
      </li>
    </ul>
    <button type="button" class="btn btn-link float-right mt-5" *ngIf="pharmacies && limitItems < pharmacies.length"
    (click)="limitItems = limitItems + 3">Show more pharmacies</button>
  </div>

  <div class="col-md-6">
    <agm-map [latitude]="shippingAddress.latitude" [longitude]="shippingAddress.longitude" style="height:300px;">
        <agm-marker [latitude]="shippingAddress.latitude" [longitude]="shippingAddress.longitude" [label]="default"></agm-marker>
        <agm-marker [latitude]="pharmacy.latitude" [longitude]="pharmacy.longitude" [label]="pharmacy.name" *ngFor="let pharmacy of pharmacies"></agm-marker>
    </agm-map>
  </div>

</div>

<div class="row float-right mt-5 mb-5">
  <div class="col-md-12">
    <button class="btn btn-primary" type="button" (click)="nextStep();" [disabled]="!primaryPharmacyAddress">Next</button>
  </div>
</div>
  
