<div class="row">
  <div class="col-lg-12 text-center">
    <h1 class="text-center">Thank you for your order!</h1>
    <h5 class="text-center">Order #2452</h5>
  </div>
</div>


<div class="row">
  <div class="col-lg-8 mt-2 mx-auto">
    <hr>
    <h6 class="mb-0">Order Details: </h6>
    <h6>Plan name</h6>
    <hr>
    <h6 class="mb-5">Pay with: cc ending in 4389 </h6>
    <h6 class="mb-0">Plan name</h6>
    <h6 class="mb-0">Plan name</h6>
    <h6 class="mb-0">Plan name</h6>
    <h6 class="mb-0">Plan name</h6>
    <hr>
    <h6 class="mb-0"> Total <span class="float-right">Amount</span> </h6>
  </div>
</div>

<div class="row">
  <div class="col-lg-8 mt-2 mx-auto">
    <button class="btn btn-primary float-left">Print</button>
    <button class="btn btn-primary float-right">My Dashboard</button>
  </div>
</div>


<!--
<div class="row" *ngIf="orderInfo">
  <div class="col-lg-12">
    <p>
      <small>
        <strong>Order #2452</strong>
      </small>
    </p>
    
    <p class="mb-0">
      <small>
        <strong>Billing Address</strong>
      </small>
    </p>
    
    <p class="ml-3 mb-0">
      <small>{{orderInfo.firstName + ' ' + orderInfo.lastName}}</small>
    </p>
    
    <p class="ml-3 mb-0">
      <small>{{orderInfo.address1}}</small>
    </p>
    
    <p class="ml-3">
      <small>{{orderInfo.state + ', ' + orderInfo.city + ' ' + orderInfo.zipcode }}</small>
    </p>
    <p class="mb-0">
      <small>
        <strong>Order Details</strong>
      </small>
    </p>
    
    <div class="row">
      <div class="col">
        <p>
          <small>{{orderInfo.planName}} ({{orderInfo.paymentPeriod}})</small></p>
      </div>
      <div class="col text-right">
        <p>
          <small>{{orderInfo.orderPrice | currency}}</small>
        </p>
      </div>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="col">
        <p>
          <small>
            <strong>TOTAL</strong>
          </small>
        </p>
      </div>
      <div class="col text-right">
          <p>
            <small>
              <strong>{{orderInfo.orderPrice | currency}}</strong>
            </small>
          </p>
      </div>
    </div>
    
    <p class="mb-3">
      <small> Pay with: cc ending in <strong>{{orderInfo.lastFour}}</strong> </small>
    </p>
  
    <app-invoice-generator></app-invoice-generator>
    <p>
      <small>A receipt of your purchase has been emailed to <strong>{{orderInfo.email}}</strong> </small>
    </p>
    
    <div class="row float-right mt-3 mb-5">
      <div class="col-md-12">
        <button class="btn btn-primary" (click)="goToOnboarding();">Next</button>
      </div>
    </div>
  </div>      
</div>-->