<h3 class="mb-3">Step 4 of 5</h3>
<!--<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a disabled>Step 1</a></li>
    <li class="breadcrumb-item" (click)="goToStep(2)"><a [routerLink]="">Step 2</a></li>
    <li class="breadcrumb-item" (click)="goToStep(3)"><a [routerLink]="">Step 3</a></li>
    <li class="breadcrumb-item active">Step 4</li>
  </ol>
</nav>-->



<form [formGroup]="signupForm" (ngSubmit)="doSignup()">

    <div class="btn-group" role="group" aria-label="Basic example" *ngIf="planSelected">
      <button type="button" class="btn btn-primary mr-2" *ngIf="planSelected.price_month_active === true"
      (click)="setPlanPaymentMethod('Monthly', planSelected.price_month)" [ngClass]="{'active': paymentMethodSelected === 'Monthly'}">
        Monthly ({{planSelected.price_month | currency}} / Month)
      </button>
      <button type="button" class="btn btn-primary mr-2" *ngIf="planSelected.price_ninety_days_active === true"
      (click)="setPlanPaymentMethod('90 Days', planSelected.price_ninety_days)" [ngClass]="{'active': paymentMethodSelected === '90 Days'}">
        90 Days ({{planSelected.price_ninety_days | currency}} / 90 Days)
      </button>
      <button type="button" class="btn btn-primary mr-2" *ngIf="planSelected.price_quarter_active === true"
      (click)="setPlanPaymentMethod('Quarterly', planSelected.price_quarter)" [ngClass]="{'active': paymentMethodSelected === 'Quarterly'}">
        Quarterly ({{planSelected.price_quarter | currency}} / Quarter)
      </button>
      <button type="button" class="btn btn-primary" *ngIf="planSelected.price_year_active === true"
      (click)="setPlanPaymentMethod('Yearly', planSelected.price_year)" [ngClass]="{'active': paymentMethodSelected === 'Yearly'}">
        Yearly ({{planSelected.price_year | currency}} / Year)
      </button>
    </div>

  <!-- Credit Card Number -->
  <div class="row mt-3">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Credit Card Number</label>
        <input type="text" placeholder="Credit Card Number" class="form-control" formControlName="lastFour" maxlength="16"
        minlength="15" appOnlyNumbers="true">
        <p class="mt-1 text-danger" *ngIf="(lastFour.dirty || lastFour.touched) && lastFour.invalid && lastFour.errors.required">
          Credit Card Number is required.
        </p>
        <p class="mt-1 text-danger" *ngIf="(lastFour.dirty || lastFour.touched) && lastFour.invalid && lastFour.errors.invalidNumber">
          Credit Card Number must be a valid credit card.
        </p>
      </div>
    </div>
  </div>

  <!-- Credit Card Information -->
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label for="">Expiration</label>
        <select class="form-control">
          <option value="">01</option>
        </select>
      </div>
    </div>
    <div class="col-md-3 align-self-end">
      <div class="form-group">
        <select class="form-control">
          <option value="">01</option>
          <option value="">02</option>
          <option value="">03</option>
          <option value="">04</option>
        </select>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="">CVV</label>
        <input type="number" placeholder="CVV" class="form-control">
      </div>
    </div>
  </div>

  <!-- Save method payment for future -->
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <mat-checkbox> Save this payment method for future use </mat-checkbox>
      </div>
    </div>
  </div>

  <!-- User first and lastname -->
  <div class="row mt-4">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">First Name</label>
        <input type="text" placeholder="First Name" class="form-control" formControlName="firstName">
        <p class="mt-1 text-danger" *ngIf="(firstName.dirty || firstName.touched) && firstName.invalid && firstName.errors.required">
          First Name is required.
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Last Name</label>
        <input type="text" placeholder="Last Name" class="form-control" formControlName="lastName">
        <p class="mt-1 text-danger" *ngIf="(lastName.dirty || lastName.touched) && lastName.invalid && lastName.errors.required">
          Last Name is required.
        </p>
      </div>
    </div>
  </div>

  <!-- Billing country and promo code -->
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Billing Country</label>
        <select class="form-control" formControlName="country">
          <option [ngValue]="country.value" *ngFor="let country of countries">{{country.text}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4 offset-md-4">
      <label for="">Promo Code</label>
      <div class="input-group">
        <input type="text" class="form-control" placeholder="Promo Code">
        <div class="input-group-append">
          <button class="btn btn-primary promo-code" type="button">Apply</button>
        </div>
      </div>
    </div>
  </div>

  <!-- Promo code description -->
  <div class="row" *ngIf="amountToCharge">
    <div class="col-md-4 offset-md-8">
      <div class="form-group">
        <p class="mt-1"> <strong>Amount to Charge: {{amountToCharge | currency}}</strong> </p>
      </div>
    </div>
  </div>

  <!-- Billing address -->
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Billing Address</label>
        <input type="text" placeholder="Billing Address" class="form-control" formControlName="address1" #address>
        <p class="mt-1 text-danger" *ngIf="(address1.dirty || address1.touched) && address1.invalid && address1.errors.required">
          Billing Address is required.
        </p>
      </div>
    </div>
  </div>

  <!-- City, State and Zip -->
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">City</label>
        <input type="text" placeholder="City" class="form-control" formControlName="city">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">State</label>
        <input type="text" placeholder="State" class="form-control" formControlName="state">
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Zip</label>
        <input type="number" placeholder="Zip" class="form-control" formControlName="zipCode">
      </div>
    </div>
  </div>

  <!-- Billing phone -->
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <label for="">Billing Phone</label>
        <input type="text" placeholder="Billing Phone" class="form-control" formControlName="phoneNumber"appOnlyNumbers="true">
        <p class="mt-1 text-danger" *ngIf="(phoneNumber.dirty || phoneNumber.touched) && phoneNumber.invalid && phoneNumber.errors.required">
          Billing Phone is required.
        </p>
        <p class="mt-1 text-danger" *ngIf="(phoneNumber.dirty || phoneNumber.touched) && phoneNumber.invalid && phoneNumber.errors.minlength">
          Billing Phone must be at least 10 numbers long.
        </p>
        <p class="mt-1 text-danger" *ngIf="(phoneNumber.dirty || phoneNumber.touched) && phoneNumber.invalid && phoneNumber.errors.maxlength">
          Billing Phone can be max 10 numbers long.
        </p>
      </div>
    </div>
  </div>

  <!-- Buttons -->
  <div class="row float-right mt-3 mb-5">
    <div class="col-md-12">
      <button class="btn btn-primary mr-3" type="button" (click)="userAction('back');">Back</button>
      <button class="btn btn-primary" type="submit" [disabled]="!signupForm.valid">Next</button> <!--  -->
    </div>
  </div>

</form>
