
<h3 class="mb-3">Step 3 of 5</h3>
<!--<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a disabled>Step 1</a></li>
    <li class="breadcrumb-item" (click)="goToStep(2)"><a [routerLink]="">Step 2</a></li>
    <li class="breadcrumb-item active">Step 3</li>
  </ol>
</nav>-->

<div class="row row-eq-height">

  <div class="col-xl-3 col-lg-6 col-sm-12 col-md-6" *ngFor="let plan of plans">
    <div class="card mb-3">
      <div class="card-body">
        <h4 class="text-center">{{plan.plan_name}}</h4>
        <p class="text-justify"> <small> Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse facilis nesciunt maiores cum ducimus!
            Excepturi incidunt cupiditate iure aliquam dolorum vitae a cumque voluptate provident, dolore impedit commodi harum odio. </small> </p>
        <ul>
          <li>{{plan.plan_period}}</li>
          <li>User Limit: <strong>{{plan.user_limit}}</strong> </li>
          <li>Telehealth: <strong>{{plan.telehealth}}</strong> </li>
          <li>Beh Health: <strong>{{plan.beh_health}}</strong> </li>
          <li>Number of Rx: <strong>{{plan.number_of_rx}}</strong> </li>
          <li *ngIf="plan.processing_fee_active">Processing Fee: <strong>{{plan.processing_fee | currency}}</strong> </li>
        </ul>
        <hr>
        <div class="spacer mb-3">
          <h6 *ngIf="plan.price_quarter_active" class="text-center"> ${{plan.price_quarter}} / Quarter </h6>
          <h6 *ngIf="plan.price_month_active" class="text-center"> ${{plan.price_month}} / Month  </h6>
          <h6 *ngIf="plan.price_ninety_days_active" class="text-center"> ${{plan.price_ninety_days}} / 90 Days </h6>
          <h6 *ngIf="plan.price_year_active" class="text-center"> ${{plan.price_year}} / Year </h6>
        </div>
        <button class="btn btn-primary btn-block" (click)="selectPlan(plan);">Select</button>
      </div>
    </div>
  </div>

</div>

<div class="row float-right mt-3 mb-5">
  <div class="col-md-12">
    <button class="btn btn-primary" (click)="userAction('back');">Back</button>
  </div>
</div>

