<notifier-container></notifier-container>
<div class="">
  <div class="">


    <div class="row">
      <div class="col-lg-5 mt-2 mx-auto">

        <div class="row">
          <div class="col">


            <form [formGroup]="loginForm" (ngSubmit)="doLogin()">

              <div class="form-group">
                <label for="email">Email (username)</label>
                <input type="text" placeholder="email" formControlName="email" class="form-control">
              </div>
              <div class="form-group">
                <label for="email">Password</label>
                <input type="password" placeholder="password" class="form-control" formControlName="password">
              </div>

              <div class="row">
                <div class="col d-flex justify-content-center">
                  <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">
                    Login
                  </button>
                </div>
              </div>
              <input type="hidden" formControlName="recaptcha" />



            </form>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <a class="link" [routerLink]="['../reset']">Forgot Password?</a>
          </div>
        </div>
        <div class="row">
          <div class="col d-flex justify-content-center">
            <a class="link" [routerLink]="['../signup']">Not a member yet?</a>
          </div>
        </div>



      </div>

    </div>




  </div>
</div>
