<div class="row mt-5">


  <div class="col-lg-5 mx-auto">

    <h3 class="mb-3">Reset Password</h3>


    <form [formGroup]="passChangeForm" (ngSubmit)="resetPassword()">


      <div class="form-group">
        <label for="Password">Confirmation Code</label>
        <input type="text" placeholder="Confirmation Code" id="confirmationCode" formControlName="confirmationCode"
          required class="form-control">
      </div>

      <div class="form-group">
        <label for="pwd">Password</label>
        <input type="password" placeholder="Enter password" formControlName="pwd" class="form-control">

        <p class="mt-2">Minimum password requirements:</p>

        <p [ngClass]="passChangeForm.controls['pwd'].hasError('required') || passChangeForm.controls['pwd'].hasError('minlength') ? 'text-danger' : 'text-success'">
          <i class="material-icons" style="display:inline-flex; vertical-align: middle;">
            {{ passChangeForm.controls['pwd'].hasError('required') ||
            passChangeForm.controls['pwd'].hasError('minlength')
            ?
            'clear' : 'done' }}
          </i> Must be at least 8 characters.
        </p>

        <p [ngClass]="passChangeForm.controls['pwd'].hasError('required') || passChangeForm.controls['pwd'].hasError('hasNumber') ? 'text-danger' : 'text-success'">
          <i class="material-icons" style="display:inline-flex; vertical-align: middle;">
            {{ passChangeForm.controls['pwd'].hasError('required') ||
            passChangeForm.controls['pwd'].hasError('hasNumber')
            ?
            'clear' : 'done' }}
          </i> Must container at least one number.
        </p>

        <p [ngClass]="passChangeForm.controls['pwd'].hasError('required') || passChangeForm.controls['pwd'].hasError('hasCapitalCase') ? 'text-danger' : 'text-success'">
          <i class="material-icons" style="display:inline-flex; vertical-align: middle;">
            {{ passChangeForm.controls['pwd'].hasError('required') ||
            passChangeForm.controls['pwd'].hasError('hasCapitalCase') ? 'clear' : 'done' }}
          </i> Must contain at least one capital letter.
        </p>

        <p [ngClass]="passChangeForm.controls['pwd'].hasError('required') || passChangeForm.controls['pwd'].hasError('hasSmallCase') ? 'text-danger' : 'text-success'">
          <i class="material-icons" style="display:inline-flex; vertical-align: middle;">
            {{ passChangeForm.controls['pwd'].hasError('required') ||
            passChangeForm.controls['pwd'].hasError('hasSmallCase')
            ? 'clear' : 'done' }}
          </i> Must container at least one small letter
        </p>

        <p [ngClass]="passChangeForm.controls['pwd'].hasError('required') || passChangeForm.controls['pwd'].hasError('hasSpecialCharacters') ? 'text-danger' : 'text-success'">
          <i class="material-icons" style="display:inline-flex; vertical-align: middle;">
            {{ passChangeForm.controls['pwd'].hasError('required') ||
            passChangeForm.controls['pwd'].hasError('hasSpecialCharacters') ? 'clear' : 'done' }}
          </i> Must contain at least one special character.
        </p>
      </div>

      <div class="form-group">
        <label for="confirm">Re-Type Password</label>
        <input type="password" placeholder="Confirm your password" formControlName="confirm" class="form-control">
        <p class="mt-1 text-danger" *ngIf="(confirm.dirty || confirm.touched) && confirm.invalid && !!confirm?.errors?.required">
          Confirm password is required.
        </p>
        <p class="mt-1 text-danger" *ngIf="!!passChangeForm?.errors?.passwordsDoNotMatch">
          Password doesn't match.
        </p>
      </div>

      <input type="hidden" formControlName="recaptcha" />
      <div class="col d-flex justify-content-center">
        <button type="submit" class="btn btn-primary btn-block" [disabled]="!passChangeForm.valid">
          Reset Password
        </button>
      </div>

    </form>

  </div>

</div>
