<h3 class="mb-3">Purchase Complete</h3>
<h5 class="mb-3">Thank you for your order!</h5>

<p>
  <small>
    <strong>Order #2452</strong>
  </small>
</p>

<p class="mb-0">
  <small>
    <strong>Billing Address</strong>
  </small>
</p>

<p class="ml-3 mb-0">
  <small>John Smith</small>
</p>

<p class="ml-3 mb-0">
  <small>10011 Stonelake Blvd</small>
</p>

<p class="ml-3">
  <small>Austin, TX 78759</small>
</p>
<p class="mb-0">
  <small>
    <strong>Order Details</strong>
  </small>
</p>

<div class="row">
  <div class="col">
    <p>
      <small>PopupCare Care Phamily (Quarterly)</small></p>
  </div>
  <div class="col text-right">
    <p>
      <small>$xx.00</small>
    </p>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <p>
      <small>
        <strong>TOTAL</strong>
      </small>
    </p>
  </div>
  <div class="col text-right">
      <p>
        <small>
          <strong>$xx.00</strong>
        </small>
      </p>
  </div>
</div>

<p class="mb-3">
  <small> Pay with: cc ending in 4389 </small>
</p>

<button class="btn btn-primary mb-4">Print Receipt</button>

<p>
  <small>A receipt of your purchase has been emailed to customerjohn@gmail.com</small>
</p>

<div class="row float-right mt-3 mb-5">
  <div class="col-md-12">
    <button class="btn btn-primary">Next</button>
  </div>
</div>
