<h3 class="mb-3">Purchase Complete</h3>
<h5 class="mb-3">Thank you for your order!</h5>

<div class="row" *ngIf="orderInfo">
  <div class="col-lg-12">
    <p>
      <small>
        <strong>Order #2452</strong>
      </small>
    </p>
    
    <p class="mb-0">
      <small>
        <strong>Billing Address</strong>
      </small>
    </p>
    
    <p class="ml-3 mb-0">
      <small>{{orderInfo.firstName + ' ' + orderInfo.lastName}}</small>
    </p>
    
    <p class="ml-3 mb-0">
      <small>{{orderInfo.address1}}</small>
    </p>
    
    <p class="ml-3">
      <small>{{orderInfo.state + ', ' + orderInfo.city + ' ' + orderInfo.zipcode }}</small>
    </p>
    <p class="mb-0">
      <small>
        <strong>Order Details</strong>
      </small>
    </p>
    
    <div class="row">
      <div class="col">
        <p>
          <small>{{orderInfo.planName}} ({{orderInfo.paymentPeriod}})</small></p>
      </div>
      <div class="col text-right">
        <p>
          <small>{{orderInfo.orderPrice | currency}}</small>
        </p>
      </div>
    </div>
    
    <hr>
    
    <div class="row">
      <div class="col">
        <p>
          <small>
            <strong>TOTAL</strong>
          </small>
        </p>
      </div>
      <div class="col text-right">
          <p>
            <small>
              <strong>{{orderInfo.orderPrice | currency}}</strong>
            </small>
          </p>
      </div>
    </div>
    
    <p class="mb-3">
      <small> Pay with: cc ending in <strong>{{orderInfo.lastFour}}</strong> </small>
    </p>
    
    <button class="btn btn-primary mb-4">Print Receipt</button>
    
    <p>
      <small>A receipt of your purchase has been emailed to <strong>{{orderInfo.email}}</strong> </small>
    </p>
    
    <div class="row float-right mt-3 mb-5">
      <div class="col-md-12">
        <button class="btn btn-primary">Next</button>
      </div>
    </div>
  </div>      
</div>