<h3 class="mb-3">Onboarding - Step 1 of 6</h3>
<p>Tell us more about you</p>

<form [formGroup]="onboardingForm" (ngSubmit)="nextStep()">

  <!-- Gender -->
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <select class="form-control" formControlName="genderId">
          <option [value]="gender.gender_id" *ngFor="let gender of genders">{{gender.gender}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Date of Birth -->

  <div class="row">
    <div class="col-md-12">
      <p> <small> <strong> Date of Birth </strong> </small> </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <select class="form-control" formControlName="month">
          <option disabled [ngValue]="null">- Select Month -</option>
          <option [ngValue]="month.id" *ngFor="let month of months">{{month.name}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 align-items-stretch">
      <div class="form-group">
        <select class="form-control" formControlName="day">
          <option disabled [ngValue]="null">- Select Day -</option>
          <option [ngValue]="day" *ngFor="let day of days">{{day}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 align-items-stretch">
      <div class="form-group">
        <select class="form-control" formControlName="year">
          <option disabled [ngValue]="null">- Select Year -</option>
          <option [ngValue]="year" *ngFor="let year of years">{{year}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Tell us about your physician -->
  <div class="row">
    <div class="col-md-8">
      <p> <small> <strong> Tell us about your physician </strong> </small> </p>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Physician First Name *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Physician First Name" formControlName="physicianFirstName">
            <p class="mt-1 text-danger" *ngIf="(physicianFirstName.dirty || physicianFirstName.touched) && physicianFirstName.invalid && physicianFirstName.errors.required">
              Physician First Name is required.
            </p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Physician Last Name *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Physician Last Name" formControlName="physicianLastName">
            <p class="mt-1 text-danger" *ngIf="(physicianLastName.dirty || physicianLastName.touched) && physicianLastName.invalid && physicianLastName.errors.required">
              Physician Last Name is required.
            </p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Physician Phone *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Physician Phone" formControlName="physicianPhoneNumber" appOnlyNumbers="true">
            <p class="mt-1 text-danger" *ngIf="(physicianPhoneNumber.dirty || physicianPhoneNumber.touched) && physicianPhoneNumber.invalid && physicianPhoneNumber.errors.required">
              Physician Phone is required.
            </p>
            <p class="mt-1 text-danger" *ngIf="(physicianPhoneNumber.dirty || physicianPhoneNumber.touched) && physicianPhoneNumber.invalid && physicianPhoneNumber.errors.minlength">
              Physician Phone must be at least 10 numbers long.
            </p>
            <p class="mt-1 text-danger" *ngIf="(physicianPhoneNumber.dirty || physicianPhoneNumber.touched) && physicianPhoneNumber.invalid && physicianPhoneNumber.errors.maxlength">
              Physician Phone can be max 10 numbers long.
            </p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Physician Fax *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Physician Fax" formControlName="physicianFax" appOnlyNumbers="true">
            <p class="mt-1 text-danger" *ngIf="(physicianFax.dirty || physicianFax.touched) && physicianFax.invalid && physicianFax.errors.required">
              Physician Fax is required.
            </p>
            <p class="mt-1 text-danger" *ngIf="(physicianFax.dirty || physicianFax.touched) && physicianFax.invalid && physicianFax.errors.minlength">
              Physician Fax must be at least 10 numbers long.
            </p>
            <p class="mt-1 text-danger" *ngIf="(physicianFax.dirty || physicianFax.touched) && physicianFax.invalid && physicianFax.errors.maxlength">
              Physician Fax can be max 10 numbers long.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Emergency Contact Information -->
  <div class="row">
    <div class="col-md-8">
      <p> <small> <strong>Emergency Contact Information</strong> </small> </p>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Emergency Contact First Name *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Emergency Contact First Name" formControlName="emergencyContactFirstName">
            <p class="mt-1 text-danger" *ngIf="(emergencyContactFirstName.dirty || emergencyContactFirstName.touched) && emergencyContactFirstName.invalid && emergencyContactFirstName.errors.required">
              Emergency Contact First Name is required.
            </p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Emergency Contact Phone Number *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Emergency Contact Phone Number" formControlName="emergencyContactPhoneNumber" appOnlyNumbers="true">
            <p class="mt-1 text-danger" *ngIf="(emergencyContactPhoneNumber.dirty || emergencyContactPhoneNumber.touched) && emergencyContactPhoneNumber.invalid && emergencyContactPhoneNumber.errors.required">
              Emergency Contact Phone Number is required.
            </p>
            <p class="mt-1 text-danger" *ngIf="(emergencyContactPhoneNumber.dirty || emergencyContactPhoneNumber.touched) && emergencyContactPhoneNumber.invalid && emergencyContactPhoneNumber.errors.minlength">
              Emergency Contact Phone Number must be at least 10 numbers long.
            </p>
            <p class="mt-1 text-danger" *ngIf="(emergencyContactPhoneNumber.dirty || emergencyContactPhoneNumber.touched) && emergencyContactPhoneNumber.invalid && emergencyContactPhoneNumber.errors.maxlength">
              Emergency Contact Phone Number can be max 10 numbers long.
            </p>
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Emergency Contact Relationship *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Emergency Contact Relationship" formControlName="emergencyContactRelationship">
            <p class="mt-1 text-danger" *ngIf="(emergencyContactRelationship.dirty || emergencyContactRelationship.touched) && emergencyContactRelationship.invalid && emergencyContactRelationship.errors.required">
              Emergency Contact Relationship is required.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row float-right mb-5">
    <div class="col-md-12">
      <button class="btn btn-primary" type="submit"  [disabled]="!onboardingForm.valid">Next</button> <!-- -->
    </div>
  </div>

</form>