<h3 class="mb-3">Onboarding - Step 1 of 6</h3>
<p>Tell us more about you</p>

<form [formGroup]="onboardingForm" (ngSubmit)="nextStep()">

  <!-- Gender -->
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <select class="form-control" formControlName="gender">
          <option [value]="gender.gender_id" *ngFor="let gender of genders">{{gender.gender}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Date of Birth -->

  <div class="row">
    <div class="col-md-12">
      <p> <small> <strong> Date of Birth </strong> </small> </p>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <select class="form-control" formControlName="month">
          <option value="">- Select Month -</option>
          <option [value]="i" *ngFor="let month of ['January','February','March','April','May','June','July','August','September','October','November','December']; let i = index">{{month}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 align-items-stretch">
      <div class="form-group">
        <select class="form-control" formControlName="day">
            <option value="">- Select Day -</option>
          <option [value]="i" *ngFor="let day of [1,2,3,4,5,6,7,8,9,10,11,12,13,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31]; let i = index">{{day}}</option>
        </select>
      </div>
    </div>
    <div class="col-md-2 align-items-stretch">
      <div class="form-group">
        <select class="form-control" formControlName="year">
          <option value="">- Select Year -</option>
          <option [value]="i" *ngFor="let year of [2000,2002,2003,2004,2005,2006,2007,2008]; let i = index">{{year}}</option>
        </select>
      </div>
    </div>
  </div>

  <!-- Tell us about your physician -->
  <div class="row">
    <div class="col-md-8">
      <p> <small> <strong> Tell us about your physician </strong> </small> </p>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Physician First Name *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Physician First Name" formControlName="physicianFirstName">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Physician Last Name *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Physician Last Name" formControlName="physicianLastName">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Physician Phone *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Physician Phone" formControlName="physicianPhoneNumber">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Physician Fax *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Physician Fax" formControlName="physicianFax">
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Emergency Contact Information -->
  <div class="row">
    <div class="col-md-8">
      <p> <small> <strong>Emergency Contact Information</strong> </small> </p>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Emergency Contact First Name *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Emergency Contact First Name" formControlName="emergencyContactFirstName">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Emergency Contact Phone Number *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Emergency Contact Phone Number" formControlName="emergencyContactPhoneNumber">
          </div>
        </div>
      </div>
      <div class="form-group">
        <div class="row">
          <div class="col-md-6">
            <label for="">Emergency Contact Relationship *</label>
          </div>
          <div class="col-md-6">
            <input type="text" class="form-control" placeholder="Emergency Contact Relationship" formControlName="emergencyContactRelationship">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row float-right mb-5">
    <div class="col-md-12">
      <button class="btn btn-primary" type="submit">Next</button> <!-- [disabled]="!signupForm.valid" -->
    </div>
  </div>

</form>