<div class="row justify-content-center  h-100">
  <div class="col text-center  my-auto">
    <label class="my-hub-title">{{ 'my_hub.title_lbl' | translate }}</label>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div>
        <div class="card my-hub-card">
          <div class="card-header hub-card-title text-center">
            <span class=" my-hub-box-title"> {{ 'my_hub.col1_box1_title_lbl' | translate }}</span>
          </div>

          <div class="card-body card-success family-card-body text-center">
            <div class="mb-2" style="height: 90px; vertical-align: middle;">
              <span class="pending-invitation">
                {{ 'my_family_placeholders.pending_invitation_lbl' | translate }}
              </span>
              <p class="card-content mb-0 pt-0 my-family-box-member-name"></p>
              <p class="card-content mb-0 pt-0 my-family-box-member-email"></p>
            </div>

            <button type="button" class=" btn-success-outline">View</button>
          </div>
        </div>
      </div>
      <div>
        <div class="card my-hub-card">
          <div class="card-header hub-card-title text-center">
            <span class=" my-hub-box-title"> {{ 'my_hub.col1_box2_title_lbl' | translate }}</span>
          </div>

          <div class="card-body card-success family-card-body text-center">
            <div class="mb-2" style="height: 90px; vertical-align: middle;">
              <span class="pending-invitation">
                {{ 'my_family_placeholders.pending_invitation_lbl' | translate }}
              </span>
              <p class="card-content mb-0 pt-0 my-family-box-member-name"></p>
              <p class="card-content mb-0 pt-0 my-family-box-member-email"></p>
            </div>

            <button type="button" class=" btn-success-outline">View</button>
          </div>
        </div>
      </div>
      <div>
        <div class="card my-hub-card">
          <div class="card-header hub-card-title text-center">
            <span class=" my-hub-box-title"> {{ 'my_hub.col1_box3_title_lbl' | translate }} </span>
          </div>

          <div class="card-body card-success family-card-body text-center">
            <div class="mb-2" style="height: 90px; vertical-align: middle;">
              <span class="pending-invitation">
                {{ 'my_family_placeholders.pending_invitation_lbl' | translate }}
              </span>
              <p class="card-content mb-0 pt-0 my-family-box-member-name"></p>
              <p class="card-content mb-0 pt-0 my-family-box-member-email"></p>
            </div>

            <button type="button" class=" btn-success-outline">View</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div>
        <div class="card my-hub-card">
          <div class="card-header hub-card-title text-center">
            <span class=" my-hub-box-title"> {{ 'my_hub.col2_box1_title_lbl' | translate }} </span>
          </div>

          <div class="card-body card-success family-card-body text-center">
            <div class="mb-2" style="height: 90px; vertical-align: middle;">
              <span class="pending-invitation">
                {{ 'my_family_placeholders.pending_invitation_lbl' | translate }}
              </span>
              <p class="card-content mb-0 pt-0 my-family-box-member-name"></p>
              <p class="card-content mb-0 pt-0 my-family-box-member-email"></p>
            </div>

            <button type="button" class=" btn-success-outline">View</button>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-12">
      <div>
        <div class="card my-hub-card">
          <div class="card-header hub-card-title text-center">
            <span class=" my-hub-box-title"> {{ 'my_hub.col3_box1_title_lbl' | translate }} </span>
          </div>

          <div class="card-body card-success family-card-body text-center">
            <div class="mb-2" style="height: 90px; vertical-align: middle;">
              <span class="pending-invitation">
                {{ 'my_family_placeholders.pending_invitation_lbl' | translate }}
              </span>
              <p class="card-content mb-0 pt-0 my-family-box-member-name"></p>
              <p class="card-content mb-0 pt-0 my-family-box-member-email"></p>
            </div>

            <button type="button" class=" btn-success-outline">View</button>
          </div>
        </div>
      </div>
      <div>
        <div class="card my-hub-card">
          <div class="card-header hub-card-title text-center">
            <span class=" my-hub-box-title">{{ 'my_hub.col3_box2_title_lbl' | translate }} </span>
          </div>

          <div class="card-body card-success family-card-body text-center">
            <div class="mb-2" style="height: 90px; vertical-align: middle;">
              <span class="pending-invitation">
                {{ 'my_family_placeholders.pending_invitation_lbl' | translate }}
              </span>
              <p class="card-content mb-0 pt-0 my-family-box-member-name"></p>
              <p class="card-content mb-0 pt-0 my-family-box-member-email"></p>
            </div>

            <button type="button" class=" btn-success-outline">View</button>
          </div>
        </div>
      </div>
      <div>
        <div class="card my-hub-card">
          <div class="card-header hub-card-title text-center">
            <span class=" my-hub-box-title">{{ 'my_hub.col3_box3_title_lbl' | translate }} </span>
          </div>

          <div class="card-body card-success family-card-body text-center">
            <div class="mb-2" style="height: 90px; vertical-align: middle;">
              <span class="pending-invitation">
                {{ 'my_family_placeholders.pending_invitation_lbl' | translate }}
              </span>
              <p class="card-content mb-0 pt-0 my-family-box-member-name"></p>
              <p class="card-content mb-0 pt-0 my-family-box-member-email"></p>
            </div>

            <button type="button" class=" btn-success-outline">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-5">
  <div routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }" class="col-8"
    style="  border-right: 2px solid lightslategrey;">
    <h3 class="mb-3">My Account</h3>
    <p>
      <a [routerLink]="['../account/my-profile']">My Profile</a>
    </p>
    <p>
      <a [routerLink]="['../account/my-addresses']">My Addresses</a>
    </p>
    <p>
      My Dashboard
    </p>
    <p>
      My Orders
    </p>
    <p>
      My Credits & Certificates
    </p>
    <p>
      <a [routerLink]="['../membership-card']">My Membership Card</a>
    </p>
    <p>
      <a [routerLink]="['../account/info']">My Info</a>
    </p>
    <p>
      <a [routerLink]="['../account/family']"> My Family</a>
    </p>
    <p>
      <a [routerLink]="['../account/security']">My Security</a>
    </p>
    <p>
      <a [routerLink]="['../account/payment-methods']">Payment Methods</a>
    </p>
    <p>
      My Communication Preferences
    </p>
    <p>
      My Referrals
    </p>
    <p>
      <a (click)="logout()">Logout</a>
    </p>
  </div>
  <div class="col align-content-center">
    <p style="font-size: 12px; padding: 30px 0;">
      We'll change this component
    </p>
    <div *ngIf="member_type_id !== 1">
      <button class="btn" type="button" (click)="upgradeMember()">Upgrade your account</button>
    </div>
  </div>
</div>