<div class="d-flex justify-content-around bg-secondary mb-3">
  <div class="p-2 bg-info">Flex item 1</div>
  <div class="p-2 bg-warning">Flex item 2</div>
  <div class="p-2 bg-primary">Flex item 3</div>
</div>

<div class="row  justify-content-md-center">
  <!-- Profile -->
  <div class="col-md-4 text-center">
    <div class="card">
      <div class="card-header card-warning-header">
        <div class="row  justify-content-between ">
          <div class="col" style="padding-left: .75rem;">
            <label class=" my-family-box-title-left">My Profile</label>
          </div>
          <div class="col" style="text-align: right; padding-right: .75rem">
            <label class="my-family-box-title-right">Account</label>
          </div>
        </div>
      </div>
      <div class="card-body card-warning text-center">
        <div style="height: 90px; padding: 5px;">
          <p class="card-content my-family-box-member-name">Oscar Vargas Granados</p>
        </div>
        <button type="button" (click)="goToProfile()" class=" btn-warning-outline">View</button>
      </div>
    </div>
  </div>

  <!-- Family members -->

  <div class="col-md-4 text-center" *ngFor="let member of familyUsers; let i = index">
    <div class="card">
      <div class="card-header card-success-header">
        <div class="row  justify-content-between ">
          <div class="col">
            <label class=" my-family-box-title-left">{{ member.display_value }}</label>
          </div>
          <div class="col" style="text-align: right;">
            <label class="my-family-box-title-right">Member {{ i }}</label>
          </div>
        </div>
      </div>
      <div class="card-body card-success text-center">
        <div style="height: 90px; vertical-align: middle;">
          <span class="pending-invitation" *ngIf="!member.is_active">
            — Pending Invitation —
          </span>
          <p class="card-content mb-0 pt-0 my-family-box-member-name">
            {{ member.first_name ? member.first_name : 'nameless' }}
          </p>
          <p class="card-content mb-0 pt-0 my-family-box-member-email">
            {{ member.email ? member.email : 'legal dependent' }}
          </p>
        </div>
        <div *ngIf="member.is_active; else notActive">
          <app-family-edit
            [relationId]="member.member_relation_id"
            [isActive]="!member.is_active"
            (action)="getEditResult($event)"
          ></app-family-edit>
        </div>

        <ng-template #notActive>
          <app-edit-invitation
            [relationId]="member.member_relation_id"
            [isActive]="!member.is_active"
            (action)="getEditResult($event)"
          ></app-edit-invitation>
        </ng-template>
        <!-- <button type="button" (click)="goToEdit(member.member_relation_id, false)"
          class=" btn-success-outline">View</button> -->
      </div>
    </div>
  </div>
  <!-- Guest Members -->

  <div class="col-md-4" *ngFor="let member of guestUsers; let i = index">
    <div class="card">
      <div class="card-header card-default-header">
        <div class="row  justify-content-between ">
          <div class="col">
            <label class=" my-family-box-title-left">{{ member.display_value }}</label>
          </div>
          <div class="col" style="text-align: right;">
            <label class="my-family-box-title-right">Member {{ i }}</label>
          </div>
        </div>
      </div>
      <div class="card-body card-default text-center">
        <div style="height: 90px; vertical-align: middle;">
          <span class="pending-invitation" *ngIf="!member.is_active">
            — Pending Invitation —
          </span>
          <p class="card-content mb-0 pt-0 my-family-box-member-name">
            {{ member.first_name }}
          </p>
          <p class="card-content mb-0 pt-0 my-family-box-member-email">
            {{ member.email ? member.email : 'legal dependent' }}
          </p>
        </div>
        <button type="button" (click)="removeMember(i, true)" class="btn-default-outline">Delete Pass</button>
      </div>
    </div>
  </div>
  <!-- Add  Members -->

  <div class="col-md-4">
    <div class="card">
      <div class="card-header card-success-header">
        <div class="row  justify-content-between ">
          <div class="col">
            <label class=" my-family-box-title-left">Add</label>
          </div>
          <div class="col" style="text-align: right;">
            <label class="my-family-box-title-right"></label>
          </div>
        </div>
      </div>
      <div class="card-body card-success text-center">
        <div style="height: 90px; vertical-align: middle;">
          <div class="col-md-12">
            <div class="row justify-content-center">
              <div class="my-family-button-add">
                <span class="my-family-box-add-button-lbl" (click)="goToAddNewDependent()">
                  Add Dependent
                </span>
              </div>
            </div>
            <div class="row justify-content-center">
              <app-add-member (action)="getAddResult($event)"></app-add-member>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- add familymember

<form [formGroup]="addMemberForm" (ngSubmit)="addMember()">

  <div class="form-group row">
    <div class="col-md-4 mb-3">
      <label for="confirm">Add Member (enter email):</label>
      <input type="email" placeholder="Email" formControlName="email" class="form-control">
      <p class="mt-1 text-danger" *ngIf="(email.dirty || email.touched) && email.invalid && !!email.errors.required">
        Email is required.
      </p>
      <p class="mt-1 text-danger" *ngIf="(email.dirty || email.touched) && email.invalid && !!email.errors.email">
        Email must be a valid email address.
      </p>
    </div>
    <div class="col-md-4 mb-3 align-self-center">
      <label for="confirm">Relationship to Primary Member</label>
      <select class="browser-default custom-select" formControlName="member_relation_type_id">
        <option selected=true value=0>
          select an option</option>
        <option *ngFor="let item of relationTypes;" value={{item.lookup_member_relation_type_id}}>
          {{item.display_value}}</option>
      </select>
    </div>
    <div class="col d-flex align-self-center">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!addMemberForm.valid">
        Invite
      </button>
    </div>
  </div>
</form>

 add GuestFamilymember


<form [formGroup]="addGuestMemberForm" (ngSubmit)="addGuestMember()">

  <div class="form-group row">
    <div class="col-md-4 mb-3">
      <label for="confirm">Invite Guest Member (enter email):</label>
      <input type="email" placeholder="Email" formControlName="email" class="form-control">
      <p class="mt-1 text-danger"
        *ngIf="(memberEmail.dirty || memberEmail.touched) && memberEmail.invalid && !!memberEmail.errors.required">
        Email is required.
      </p>
      <p class="mt-1 text-danger"
        *ngIf="(memberEmail.dirty || memberEmail.touched) && memberEmail.invalid && !!memberEmail.errors.email">
        Email must be a valid email address.
      </p>
    </div>
    <div class="col-md-4 mb-3 align-self-center">
      <label for="confirm">Relationship to Primary Member</label>
      <select class="browser-default custom-select" formControlName="member_relation_type_id">
        <option selected=true value=0>
          select an option</option>
        <option *ngFor="let item of guestRelationTypes;" value={{item.lookup_member_relation_type_id}}>
          {{item.display_value}}</option>
      </select>
    </div>
    <div class="col d-flex align-self-center">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!addGuestMemberForm.valid">
        Invite
      </button>
    </div>
  </div>
</form>

-->
<!--
<h3 class="mb-3">My Care Phamily</h3>
<label class="mb-3">(5 of 6 members used)</label>

<div class="container" style="width: 100%">
  <div class="row align-items-center">
    <div class="col-md-2">
      <span>Name</span>
    </div>
    <div class="col-md-3">
      <span>Email</span>
    </div>
    <div class="col-md-2">
      <span>Relationship</span>
    </div>
    <div class="col-md-1">
      <span>Status</span>
    </div>
    <div class="col-md">
      <span>Delete</span>
    </div>
    <div class="col-md">
      <span>Edit</span>
    </div>
  </div>
  <div class="row align-items-center" *ngFor="let member of familyUsers;  let i = index" [attr.data-index]="i">
    <div class="col-md-2">
      {{member? member.first_name : '-' }}
    </div>
    <div class="col-md-3">
      {{member.email ? member.email : '-'}}
    </div>
    <div class="col-md-2">
      {{member.display_value}}
    </div>
    <div class="col-md-1">
      {{member.status_display}}
    </div>
    <div class="col-md">
      <button type="button" class="btn" (click)="removeMember(i, false)"><i class="material-icons">
          remove
        </i>
      </button>
    </div>
    <div class="col-md">
      <button type="button" class="btn" [disabled]="!member.is_active"
        (click)="goToEdit(member.member_relation_id, false)"><i class="material-icons">
          arrow_forward_ios
        </i>
      </button>
    </div>
  </div>
</div> -->

<!-- Guest list -->
<!--
<h3 class="mb-3">Guest Members</h3>
<div class="container" style="width: 100%">
  <div class="row align-items-center">
    <div class="col-md-4">
      <span>Email</span>
    </div>
    <div class="col-md-3">
      <span>Relationship</span>
    </div>
    <div class="col-md-2">
      <span>Status</span>
    </div>
    <div class="col-md">
      <span>Delete</span>
    </div>
    <div class="col-md">
      <span>Edit</span>
    </div>
  </div>
  <div class="row align-items-center" *ngFor="let member of guestUsers;  let i = index" [attr.data-index]="i">
    <div class="col-md-4">
      {{member.email}}
    </div>
    <div class="col-md-3">
      {{member.display_value}}
    </div>
    <div class="col-md-2">
      {{member.status_display}}
    </div>
    <div class="col-md">
      <button type="button" class="btn" (click)="removeMember(i, true)"><i class="material-icons">
          remove
        </i>
      </button>
    </div>
    <div class="col-md">
      <button type="button" class="btn" [disabled]="!member.is_active"
        (click)="goToEdit(member.member_relation_id, true)"><i class="material-icons">
          arrow_forward_ios
        </i>
      </button>
    </div>
  </div>
</div> -->
