<div class="row">

  <div (click)="goToDashboard()">
    <label class="my-family-my-Hub"><i class="material-icons">
        arrow_back
      </i>My Hub
    </label>
  </div>
  <div class="container text-center">
    <label class="my-family-title">My Care Phamily
    </label>
  </div>
</div>

<div class="row">
  <div class="col-sm-3 col-md-4 my-family-col-box">
    <div class="my-family-profile-box">
      <div class="my-family-profile-title row justify-content-between">
        <div class="col-7" style=" text-align: left;">
          <label class=" my-family-box-title-left">My Profile</label>
        </div>
        <div class="col-5">
          <label class="my-family-box-title-right">Account</label>
        </div>
      </div>
      <div class="col-md-12">
        <span class="my-family-box-member-name">Oscar Vargas Granados
        </span>
        <div class="row justify-content-center" style="margin-top:35px">
          <div class="my-family-button-profile">
            <span class="my-family-box-profile-button-lbl" (click)="goToProfile()">View
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Family members -->
  <div class="col-sm-3 col-md-4 my-family-col-box" *ngFor="let member of familyUsers;  let i = index">
    <div class="my-family-member-box">

      <div class="my-family-member-title row justify-content-between">
        <div class="col-7" style=" text-align: left;">
          <label class=" my-family-box-title-left">{{member.display_value}}
          </label>
        </div>
        <div class="col-5">
          <label class="my-family-box-title-right">Member {{i}}</label>
        </div>
      </div>
      <div class="col-md-12">
        <span class="pending-invitation" *ngIf="!member.is_active">
          — Pending Invitation —
        </span>
        <div>
          <span class="my-family-box-member-name">
            {{member.first_name? member.first_name : 'nameless' }}
          </span>
        </div>
        <div>
          <span class="my-family-box-member-email">
            {{member.email ? member.email : 'legal dependent'}}
          </span>
        </div>
        <div class="row justify-content-center" style="margin-top:25px"
          (click)="goToEdit(member.member_relation_id, false)">
          <div class="my-family-button-member">
            <span class="my-family-box-member-button-lbl">View
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Guest Members -->
  <div class="col-sm-3 col-md-4 my-family-col-box" *ngFor="let member of guestUsers;  let i = index">
    <div class="my-family-guest-box">
      <div class="my-family-guest-title row justify-content-between">
        <div class="col-7" style=" text-align: left;">
          <label class=" my-family-box-title-left">
            {{member.display_value}}
          </label>
        </div>
        <div class="col-5">
          <label class="my-family-box-title-right">
            Guest {{i}}
          </label>
        </div>
      </div>
      <div class="col-md-12">
        <span class="pending-invitation" *ngIf="!member.is_active">
          — Pending Invitation —
        </span>
        <div>
          <span class="my-family-box-member-name">
            {{member.first_name? member.first_name : 'nameless' }}
          </span>
        </div>
        <div>
          <span class="my-family-box-member-email">
            {{member.email ? member.email : 'no email'}}
          </span>
        </div>
        <div class="row justify-content-center" style="margin-top:25px">
          <div class="my-family-button-guest">
            <span class="my-family-box-guest-button-lbl" (click)="removeMember(i, true)">
              Delete Pass
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-3 col-md-4 my-family-col-box">
    <div class="my-family-add-box">
      <div class="my-family-add-title row justify-content-between">
        <div class="col-7" style=" text-align: left;">
        </div>
        <div class="col-5">
          <label class="my-family-box-title-right">
            Add
          </label>
        </div>
      </div>
      <div class="col-md-12">
        <div class="row justify-content-center">
          <div class="my-family-button-add">
            <span class="my-family-box-add-button-lbl" (click)="goToAddNewDependent()">
              Add Dependent
            </span>
          </div>
        </div>
        <div class="row justify-content-center">
          <div class="my-family-button-add">
            <span class="my-family-box-add-button-lbl">
              Add Member/Guest
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- add familymember -->

<form [formGroup]="addMemberForm" (ngSubmit)="addMember()">

  <div class="form-group row">
    <div class="col-md-4 mb-3">
      <label for="confirm">Add Member (enter email):</label>
      <input type="email" placeholder="Email" formControlName="email" class="form-control">
      <p class="mt-1 text-danger" *ngIf="(email.dirty || email.touched) && email.invalid && !!email.errors.required">
        Email is required.
      </p>
      <p class="mt-1 text-danger" *ngIf="(email.dirty || email.touched) && email.invalid && !!email.errors.email">
        Email must be a valid email address.
      </p>
    </div>
    <div class="col-md-4 mb-3 align-self-center">
      <label for="confirm">Relationship to Primary Member</label>
      <select class="browser-default custom-select" formControlName="member_relation_type_id">
        <option selected=true value=0>
          select an option</option>
        <option *ngFor="let item of relationTypes;" value={{item.lookup_member_relation_type_id}}>
          {{item.display_value}}</option>
      </select>
    </div>
    <div class="col d-flex align-self-center">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!addMemberForm.valid">
        Invite
      </button>
    </div>
  </div>
</form>

<!-- add GuestFamilymember -->


<form [formGroup]="addGuestMemberForm" (ngSubmit)="addGuestMember()">

  <div class="form-group row">
    <div class="col-md-4 mb-3">
      <label for="confirm">Invite Guest Member (enter email):</label>
      <input type="email" placeholder="Email" formControlName="email" class="form-control">
      <p class="mt-1 text-danger"
        *ngIf="(memberEmail.dirty || memberEmail.touched) && memberEmail.invalid && !!memberEmail.errors.required">
        Email is required.
      </p>
      <p class="mt-1 text-danger"
        *ngIf="(memberEmail.dirty || memberEmail.touched) && memberEmail.invalid && !!memberEmail.errors.email">
        Email must be a valid email address.
      </p>
    </div>
    <div class="col-md-4 mb-3 align-self-center">
      <label for="confirm">Relationship to Primary Member</label>
      <select class="browser-default custom-select" formControlName="member_relation_type_id">
        <option selected=true value=0>
          select an option</option>
        <option *ngFor="let item of guestRelationTypes;" value={{item.lookup_member_relation_type_id}}>
          {{item.display_value}}</option>
      </select>
    </div>
    <div class="col d-flex align-self-center">
      <button type="submit" class="btn btn-primary btn-block" [disabled]="!addGuestMemberForm.valid">
        Invite
      </button>
    </div>
  </div>
</form>


<!--
<h3 class="mb-3">My Care Phamily</h3>
<label class="mb-3">(5 of 6 members used)</label>

<div class="container" style="width: 100%">
  <div class="row align-items-center">
    <div class="col-md-2">
      <span>Name</span>
    </div>
    <div class="col-md-3">
      <span>Email</span>
    </div>
    <div class="col-md-2">
      <span>Relationship</span>
    </div>
    <div class="col-md-1">
      <span>Status</span>
    </div>
    <div class="col-md">
      <span>Delete</span>
    </div>
    <div class="col-md">
      <span>Edit</span>
    </div>
  </div>
  <div class="row align-items-center" *ngFor="let member of familyUsers;  let i = index" [attr.data-index]="i">
    <div class="col-md-2">
      {{member? member.first_name : '-' }}
    </div>
    <div class="col-md-3">
      {{member.email ? member.email : '-'}}
    </div>
    <div class="col-md-2">
      {{member.display_value}}
    </div>
    <div class="col-md-1">
      {{member.status_display}}
    </div>
    <div class="col-md">
      <button type="button" class="btn" (click)="removeMember(i, false)"><i class="material-icons">
          remove
        </i>
      </button>
    </div>
    <div class="col-md">
      <button type="button" class="btn" [disabled]="!member.is_active"
        (click)="goToEdit(member.member_relation_id, false)"><i class="material-icons">
          arrow_forward_ios
        </i>
      </button>
    </div>
  </div>
</div> -->



<!-- Guest list -->
<!--
<h3 class="mb-3">Guest Members</h3>
<div class="container" style="width: 100%">
  <div class="row align-items-center">
    <div class="col-md-4">
      <span>Email</span>
    </div>
    <div class="col-md-3">
      <span>Relationship</span>
    </div>
    <div class="col-md-2">
      <span>Status</span>
    </div>
    <div class="col-md">
      <span>Delete</span>
    </div>
    <div class="col-md">
      <span>Edit</span>
    </div>
  </div>
  <div class="row align-items-center" *ngFor="let member of guestUsers;  let i = index" [attr.data-index]="i">
    <div class="col-md-4">
      {{member.email}}
    </div>
    <div class="col-md-3">
      {{member.display_value}}
    </div>
    <div class="col-md-2">
      {{member.status_display}}
    </div>
    <div class="col-md">
      <button type="button" class="btn" (click)="removeMember(i, true)"><i class="material-icons">
          remove
        </i>
      </button>
    </div>
    <div class="col-md">
      <button type="button" class="btn" [disabled]="!member.is_active"
        (click)="goToEdit(member.member_relation_id, true)"><i class="material-icons">
          arrow_forward_ios
        </i>
      </button>
    </div>
  </div>
</div> -->
