/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/styles/variales.less";


body {
  background-color: @background;
  color: @text
}

.form-control    {
  background-color: @inputbackground;
  color: @inputtext
  
}
.form-control:focus    {
  background-color: @background;
  
  
}
.btn-primary {
  background-color: @buttonbackground;
  color: @buttontext;
}

.link{
  color: @linktext;
  text-decoration: none;
}
.link:hover {
  color: @linktext;
  text-decoration: underline;
}
