/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "./app/styles/variales.less";

.form-control:focus {
    
    box-shadow: inset 0 1px 1px @border, 0 0 8px @border;
    border-style: none;
    border: 1px solid @border;
    border-radius: 0.5rem;
    outline: 0rem;

  }