@import "../../../styles/variales.less";

.title {
    font-size: 48px;
    font-weight: 300;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.27;
    letter-spacing: -0.2px;
    text-align: center;
    color: @green;
}

.subtitle {
    font-size: 24px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.58;
    letter-spacing: -0.1px;
    text-align: center;
    color: @light-black
}

.input-bg {
    background-color: #f4faf6;
    padding-left: 10px !important;
    border-radius: 0px;
}

.toggle-text {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: normal;
  text-align: right;
  color: @light-black
}

.switch label input[type=checkbox]:checked+.lever {
    background-color: @orange;
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: @white;
}

.switch label .lever:after {
    background-color: @white;
}

.switch label .lever {
    background-color: @orange;
}